jira:
  username: henare
  password: soupersekrit
  site: https://tickets.openaustraliafoundation.org.au/
  context_path: ''
  project_key: PW
github:
  username: henare
  password: souperdoupersekrit
  repo: henare/jira_issues
